    .lead__subtitle {
        width: 640px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: white;
        margin: 32px auto 0;
        text-align: center;
    }
    
    @media screen and (min-width:320px) and (max-width:767px) {
        .lead__subtitle {
            font-size: 16px;
            line-height: 20px;
            width: auto;
            margin-top: 16px;
        }
    }